---
import Layout from "../layouts/base.astro";
---

<Layout
    title="Said Yeter"
    description="Said Yeter - Home"
>
    <h1>Said Yeter</h1>
    <p>
        I am a Software Engineer with 8 years of professional experience in
        developing web apps, desktop apps, scheudeled services, and
        mobile apps on enterprise domains.
    </p>
    <p>
        I live in <a
            target="_blank"
            href="https://goo.gl/maps/c7VwE5fX4cKEZUum7"
            >Fethiye</a
        >.
    </p>
    <p>
        I develop apps mostly using .Net C# and Javascript/Typescript (Next.js
        and React Native)
    </p>
    <p>
        Do you want to see what I did in the past? Go ahead and see it <a
            href="/work">here</a
        > or on <a
            target="_blank"
            href="https://www.linkedin.com/in/said-yeter/"
            >LinkedIn</a
        >
    </p>
    <p>
        Do you want to see what I do in my free time? Go ahead and see it <a
            target="_blank"
            href="https://github.com/saidyeter"
            >here</a
        >
    </p>
    <p>
        I love trying other tech tools and programming languages. I have a
        <a
            target="_blank"
            href="https://github.com/saidyeter/media-gallery"
            >media gallery app</a
        > written by Golang.
    </p>
    <p>
        I have small <a
            target="_blank"
            href="https://www.nuget.org/profiles/kordiseps"
            >Nuget packages</a
        >
        <a
            target="_blank"
            href="https://github.com/saidyeter/zipped-text-reader-and-writer"
            >open sourced</a
        >
    </p>
    <!-- <p>
        and I'm a junior tech lead
    </p> -->
    <p>
        You can reach me by <a
            target="_blank"
            href="https://t.me/saidyeterr"
            >telegram</a
        > or <a
            target="_blank"
            href="mailto:saidyeter@pm.me?subject=Hey&body=Hey%20there"
            >mail</a
        >
    </p>
</Layout>

<style>
    a {
        color: white;
    }
</style>
